.trending-box{
 margin-top: 102px;
}
.first-part{
    display: flex;
    gap: 35px;
    align-items: center;
}
.first-part hr{
   background-color: #898989;
    height: 2px;
    width: 60%;
}
.boxes{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.film-card{
    background-color: #1a1a1a;
    border: 1px solid #262626;
    width: 250px;
    height: 377px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}
.film-card img{
    width: 210px;
    height: 281px;
    border-radius: 10px;
}