.T-carousel{
  width: 90%;
  margin: auto;
  padding-top: 53px;

}
.carousel-item img{
  border-radius: 10px;
}

.carousel-caption h5{
  font-size: 38px;
  font-weight: 700;
}

.carousel-caption p{
  font-size: 18px;
  font-weight: 500;
  color: #999999;
}
.carousel-caption .icons{
  display: flex;
  align-items: center;
  justify-content:center;
  padding-bottom: 50px;
}
.carousel-caption .icons .plus{
    margin-inline: 20px;
}
.carousel-caption .icons .plus,.carousel-caption .icons .thumbs{
  width: 56px;
  height: 56px;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.carousel-caption .icons .des-btn{
  width: 157px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #FA4032;
  width: 157px;
}
.carousel-caption .icons .des-btn{
  padding: 7px 15px;
  border-radius: 10px;
}
.carousel-caption .icons .des-btn .btn{
   color:#fff;
}
.carousel-indicators .active{
  background-color: #E50000;
 }

 .carousel-control-next, .carousel-control-prev{
  top: 93%;
 }
 .arrow{
  font-size: 25px;
  color: #fff;
 }


 @media (max-width: 767px) {
  .carousel-indicators{
    bottom: -20px;
  }
  .carousel-caption {
    bottom: 5%;
    padding: 10px;
  }

  .carousel-caption h5 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 15px;
  }

  .carousel-caption .icons {
    gap: 12px;
  }

  .carousel-caption .icons .des-btn {
    width: 34%;
    max-width: 220px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 95%;
  }

  .arrow {
    font-size: 20px;
  }
}
@media (max-width: 507px) {
  .carousel-indicators {
    bottom: -25px;
  }

  .carousel-caption {
    bottom: 3%;
    padding: 5px;
  }

  .carousel-caption h5 {
    font-size: 16px;
  }

  .carousel-caption p {
    font-size: 13px;
  }

  .carousel-caption .icons {
    /* flex-direction: column; */
    padding-top: 20%;
    gap: 10px;
  }

  .carousel-caption .icons .des-btn {
    width: 50%;
    /* max-width: 180px; */
    height: 45px;
    font-size: 14px;
  }
.carousel-caption .icons .des-btn .btn, .carousel-caption .icons .des-btn i{
    font-size: 10px;
  }
  .carousel-caption .icons .plus,
  .carousel-caption .icons .thumbs {
    width: 20px;
    height: 20px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 97%;
  }

  .arrow {
    font-size: 18px;
  }
}

